.center_text {
    text-align: center;
}
.center_element {
    margin: auto;
    width: 50%;
    border: 3px solid white	;
    padding: 10px;
    background: 
    linear-gradient(
      rgba(255, 255, 255, 0.45), 
      rgba(255, 255, 255, .45)
    )
}
img {
    display: block;
    margin: auto;
    width: 40%;
    border: 5px solid white;
}

h2 {
    font-family: "Helvetica", Helvetica, sans-serif;
}
p {
    font-family: "Helvetica", Helvetica, sans-serif;
}

body {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0), 
      rgba(0, 0, 0, 0)
    ),
    url(bg.jpg);
    background-size: 100% auto;
}